body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg-color {
    background-color: #fff;
}
.bg-secondary {
    background-color: #74c69d;
}
.container {
    background-color: #74c69d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(100% - 1440px);
    width: 1440px;
}