
.container > .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    width: 1180px;
    margin: 0 calc(50% - 590px);
    padding: 20px;
}
.container > .row-short {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: 1180px;
    margin: 0 calc(50% - 590px);
    padding: 20px;
}
.container > .row-long {
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align: center;
    gap: 165px;
    justify-content: center;
    width: 1180px;
    margin: 0 calc(50% - 590px);
    padding: 40px 20px;

}


@media (max-width: 1180px) {
    .container > .row-short,
    .container > .row-long,
    .container > .row {
        width: 900px;
        margin: 0 calc(50% - 450px);

    } 
    .images-meeting {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .container > .row-short,
    .container > .row-long,
    .container > .row {
        width: 700px;
        margin: 0 calc(50% - 350px);
        
    } 
    .images-meeting {
        width: 100%;
        flex-basis:50% ;
    }
}

@media (max-width: 800px) {
    .container > .row-short,
    .container > .row-long,
    .container > .row {
        width: 400px;
        margin: 0 calc(50% - 200px);
        padding: 0 20px;
        
    }
}
@media (max-width: 440px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .container > .row-short,
    .container > .row-long,
    .container > .row {
        width: 90%;
        padding: 0 30px;
        
    }
}
