.container {
    background-color: #74c69d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(100% - 1440px);
    width: 1440px;
}
.container > .row-short {
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    width: 1200px;
    margin: 0 calc(50% - 600px);
    height: 50px;
    margin-top: 35px;
}
.container .row {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 480px;
    width: 1200px;
    margin: 0 calc(50% - 600px);
    gap: 300px;
}
.row-logo {
    background-color: #fff;
    width: 1440px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 0 calc(50% - 720px);
}






@media (max-width: 1100px) {
    .container .row-short .row {
        width: 800px;
        margin: 0 calc(50% - 400);  
    }
    .header-nav,
    .container .row-short .row {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media (max-width: 900px) {
    .container .row {
        width: 600px;
        margin: 0 calc(50% - 300px);
    }
   
}
@media (max-width: 700px) {
    .container .row,
    .container .row-short {
        width: 400px;
        margin: 0 calc(50% - 200px);  
    }
    .container, 
    .column .column-right {
        width: 100%;
    }
}  
@media (max-width: 28rem) {
        .container {
            padding-right: 1.3rem;
            padding-left: 1.3rem;
              
        }    

    .container .row,
    .container .row-short  {
       width: 100%;
       margin: 0; 
    }
}