.container {
    width: 100%;
    /* background-color:gainsboro; */
    padding: 0;
}
.container .color {
    width: 100%;
    background-color: #74c69d;
}
.container > .row {
    width: 1180px;
    /* background-color: pink; */
    margin: 0 calc(50% - 590px);
}
.container > .row-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 1180px;
    /* background-color: pink; */
    margin: 0 calc(50% - 590px);
}

@media (max-width: 1200px) {
    .container > .row-short,
    .container > .row {
        width: 900px;
        margin: 0 calc(50% - 450px);
        /* background-color: orange; */
    }
}
@media (max-width: 1000px) {
    .container > .row-short,
    .container > .row {
        width: 700px;
        margin: 0 calc(50% - 350px);
        /* background-color:blueviolet; */
    }
}
@media (max-width: 800px) {
    .container > .row-short,
    .container > .row {
        width: 400px;
        margin: 0 calc(50% - 200px);
        /* background-color:aquamarine; */
    }
}
@media (max-width: 440px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .container > .row-short,
    .container > .row {
        width: 100%;
        margin: 0;
        /* background-color:yellow; */
    }
}

/* .container > .row-short {
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    gap: 300px;
    width: 1200px;
    margin: 0 calc(50% - 600px);
    height: 50px;
    margin-top: 35px;
}
.container .row {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 480px;
    width: 1200px;
    margin: 0 calc(50% - 600px);
    gap: 300px;
}
.row-logo {
    background-color: #fff;
    width: 1440px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    margin: 0 calc(50% - 720px);
} */