.column-description-short {
    color: #000000;
    font-size: 40px;
    line-height: 50px;
}
.column-description {
    font-size: 18px;
    line-height: 20px;
    padding: 50px 0; 
}
.button {
    color: #fff;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #000000;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}
