.container > .row > .footer-socials {
    padding: 25px; 
}
.container > .row > .text-trio {
    padding: 25px;
} 
.footer-socials {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 18px;
}
.footer-socials > .social-link {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.text-trio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
}