.container .row-footer {
    background-color: #74c69d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin: 0 calc(50% - 590px);
    width: 1180px;
    height: 125px;
}
.footer-socials {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    font-size: 18px;
}
.footer-socials > .social-link {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.text-trio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
}