.container > .row-long .column {
    width: 40%;
    text-align: left;
}
.container > .row-long .column-right {
    width: 50%;
    display: flex;
    flex-flow: column; 
}
.column-content-hero {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 19px;
    padding: 0 0 15px;
}
.column-description-short-hero {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.column-description-hero {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    padding: 15px 0;
}
.button-hero {
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #fff;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 20px;
}
@media (max-width: 1200px) {
    .container > .row-long .column-right {
        width: 600px;  
    }
}
@media (max-width: 1000px) {
    .container > .row-long .column-right {
        width: 480px;  
    }
}
@media (max-width: 800px) {
    .container > .row-long .column-right {
        width: 500px; 
    }
    .container > .row-long {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 480px;
        gap: 30px;
        padding: 20px;
    }
    .column-description-partners,
    .column-description-short-partners,
    .container > .row-long .column {
        width: 100%;
        text-align: center;  
    }
}
@media (max-width: 700px) {
    .container > .row-long .column-right {
        width: 480px;    
    }
    .container > .row-long {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 480px;
        gap: 30px;
        padding: 20px 20px;
    }
}
@media (max-width: 600px) {
    .container > .row-long .column-right {
        width: 80%;
    }
    .container > .row-long {
        justify-content: flex-end;
        width: 80%;
    }
    .container > .row-long .column {
        width: 80%;
        text-align: left; 
    }
    .row > .row-nav .row-link {
        display: none;
    }
}
@media (max-width: 440px) {
    .container > .row-long .column-right {
        padding-right: 10px;
        padding-left: 10px;
    }
    .container > .column,
    .container > .row-long .column-right {
        width: 100%;
        margin: 0; 
    }
    .container > .row-long .column-images {
        width: 100%;
    }
    .row > .row-nav .row-link {
        display: none;
    }
}
