.column-content-partners {
    color: #74c69d;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px;
}
.column-description-short-partners {
    color: #000000;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.column-description-partners {
    color: #000000;
    font-size: 20px;
    line-height: 25px;
}
.container > .row-short .logo-social {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}