@import '../base/base.css';
@import '../base/layout.css';
@import '../3rd-party/font-awesome.min.css';

/* .logo {
    height: 40px;
    object-fit: contain;
    object-position: center left;
}     */
/* .header-nav {
    display: flex;
    gap: 30px;
} */
/* .link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
} */
/* .column-left {
    width: 45%;
    color: #fff;
    text-align: left;
    font-size: 16px;
} */
/* .description {
    font-size: 40px;
    margin-top: 15px;
} */
/* .column-left p:last-of-type {
    font-size: 15px;
} */
/* .button {
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 12px 50px;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
} */
/* .column-right {
    width: 61%;
} */
/* .column-right .images {
    width: 100%;
    margin-top: 15px;
} */
.logo-content {
    color: #74c69d;
    text-transform: uppercase;
    /* padding: 16px; */
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px;
}
.logo-description-short {
    /* padding: 16px; */
    font-size: 40px;
    line-height: 50px;
}
.logo-description {
    /* padding: 16px; */
    font-size: 20px;
    line-height: 25px;
}
.container > .row-short .logo-social {
   display:flex;
   flex-wrap:wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 68px;
}
.button-logo {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #000000;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}
.other-content {
    color: #74c69d;
    text-transform: uppercase;
    /* padding: 16px; */
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px;
}
.other-description-short {
    /* padding: 16px; */
    font-size: 40px;
    line-height: 50px;
}
.other-description {
    /* padding: 16px; */
    font-size: 20px;
    line-height: 25px;
}
.container > .row-short .images-other {
   display:flex;
   flex-wrap:wrap;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.button-other {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #000000;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}
/* .container .row-next {
    background-color: #fff;
    width: 1440px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    margin: 0 calc(50% - 720px);
} */
/* .column-row-next {
    color: #000000;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    width: 400px;
    margin: 0 calc(50% - 620px);
} */
/* .next-description {
    font-size: 15px;
    margin-block: 25px;
    line-height: 19px;
} */
/* .next-button {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #000000;
    border-radius: 5px;
    font-size: 20px;
} */
/* .container .row-new {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 660px;
    width: 1440px;
    margin: 0 calc(50% - 720px);
    gap: 85px;
} */
/* .column-new {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    font-size: 25px;
    width: 1440px;
    margin: 0 calc(50% - 720px);
    margin-left: 135px;  
} */
/* .images-new {
    margin-right: 130px;
} */
/* .new-description {
    font-size: 15px;
    margin-block: 25px;
    line-height: 19px;
} */
/* .new-button {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    background-color: #000000;
    border-radius: 5px;
    font-size: 20px;
} */
/* .footer-row {
    background-color: #74c69d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin: 0 calc(50% - 590px);
    width: 1180px;
    height: 125px;
} */
/* .footer-socials {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    font-size: 18px;
} */
/* .footer-socials > .social-link {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
} */
/* .text-trio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
} */